.header {
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	a {
		font-size: 22px;
		font-weight: bold;
		color: #7F7F7F;
	}

	.navbar {
		background-color: #000000;

		#brand {
			margin-top: -10px;
		}

		ul .nav-li {
			margin-top: 0;
		}

		ul .nav-li .nav-li-a:focus {
			text-shadow: -1px 1px silver;
		}

		ul {
			float: right;
		}

		.dropdown-menu {
			padding: 5px;
			border: 2px solid whitesmoke;
			border-radius: 2%;
			background-color: #000000;
			margin-left: -130px;
		}
	}
}


@media only screen and (min-width : 768px) {
	.header {
		.navbar {
			#brand {
				margin-top: 0;
			}

			ul .nav-li {
				margin-top: 15px;
			}
		}
	}
}