node_modules/
bower_components/
public/css/

.nyc_output

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/angulardoc.json

app/config/constants.json
