$header-bg-color: black;
$nav-text-hover: rgb(195, 195, 195);

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header, footer {
    background-color: $header-bg-color;
    max-height: 45px;
    padding-top: 5px;
    padding-left: 25px;

    #logo {
        width: 70%;
    }

    nav {
        padding: 0;

        ul.menu-bar, ul.menu-bar-foot
        {
            display: none; 
            float: right;
            list-style-type: none;
            background: $header-bg-color;
            width: 50%;
            cursor: pointer;

            li {
                background-color: rgb(195, 195, 195);
                margin: 5px;
                padding: 2px 2px 2px 20%;

                a {
                    color: $header-bg-color;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-decoration: inherit;
                    padding: 2px;

                    &:hover {
                        text-decoration: underline;
                        color: #F5F5F5;
                    }
                }

                img {
                    margin-top: 5px;
                }
            }
        } //ul

        .menu-bar-btn {
            background-color: #6F6F6F;
            width: 27px;
            height: 27px;
            border: 1px solid $header-bg-color;
            border-radius: 10%;
            padding: 2px;
            padding-top: 4px;
            position: absolute;
            top: 8px;
            right: 13px;
            cursor: pointer;

            .lines-button {
                position: relative;
                left: 16px;
                top: -6px;
                float: right;
                overflow: hidden;
                margin: 0;
                padding: 0;
                width: 60px;
                height: 32px;
                font-size: 0;
                text-indent: -9999px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                box-shadow: none;
                border-radius: none;
                border: none;
                cursor: pointer;
                -webkit-transition: background 0.3s;
                transition: background 0.3s;
            }
    
            .lines-button:focus {
                outline: none;
            }
    
            .lines-button span {
                display: block;
                position: absolute;
                left: 18px;
                right: 18px;
                height: 5px;
                background: $header-bg-color;
                border-radius: 0.57143rem;
            }
    
            .lines-button span::before,
            .lines-button span::after {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: $header-bg-color;
                border-radius: 0.57143rem;
                content: "";
            }
    
            .lines-button span::before {
                top: -10px;
            }
    
            .lines-button span::after {
                bottom: -10px;
            }
    
            .lines {
                background: none;
            }
    
            .lines span {
                -webkit-transition: background 0s 0.3s;
                transition: background 0s 0.3s;
            }
    
            .lines span::before,
            .lines span::after {
                -webkit-transition-duration: 0.3s, 0.3s;
                transition-duration: 0.3s, 0.3s;
            }

            .lines span::before {
                -webkit-transition-property: top, -webkit-transform;
                transition-property: top, transform;
            }
    
            .lines span::after {
                -webkit-transition-property: bottom, -webkit-transform;
                transition-property: bottom, transform;
            }

            .lines.close {
                background: none;
            }
    
            .lines.close span {
                visibility: hidden;
            }
    
            .lines.close span::before {
                top: 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                visibility: visible;
            }
    
            .lines.close span::after {
                bottom: 0;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                visibility: visible;
            }
        } // menu-bar-btn 

        .menu-bar-btn-foot {
            background-color: #6F6F6F;
            width: 27px;
            height: 27px;
            border: 1px solid $header-bg-color;
            border-radius: 10%;
            padding: 2px;
            padding-top: 4px;
            position: inherit;
            float: right;
            margin-top: -40px;
            margin-right: 13px;
            cursor: pointer;

            .lines-button-foot {
                position: relative;
                left: 16px;
                top: -6px;
                float: right;
                overflow: hidden;
                margin: 0;
                padding: 0;
                width: 60px;
                height: 32px;
                font-size: 0;
                text-indent: -9999px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                box-shadow: none;
                border-radius: none;
                border: none;
                cursor: pointer;
                -webkit-transition: background 0.3s;
                transition: background 0.3s;
            }
    
            .lines-button-foot:focus {
                outline: none;
            }
    
            .lines-button-foot span {
                display: block;
                position: absolute;
                left: 18px;
                right: 18px;
                height: 5px;
                background: $header-bg-color;
                border-radius: 0.57143rem;
            }
    
            .lines-button-foot span::before,
            .lines-button-foot span::after {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: $header-bg-color;
                border-radius: 0.57143rem;
                content: "";
            }
    
            .lines-button-foot span::before {
                top: -10px;
            }
    
            .lines-button-foot span::after {
                bottom: -10px;
            }
    
            .lines {
                background: none;
            }
    
            .lines span {
                -webkit-transition: background 0s 0.3s;
                transition: background 0s 0.3s;
            }
    
            .lines span::before,
            .lines span::after {
                -webkit-transition-duration: 0.3s, 0.3s;
                transition-duration: 0.3s, 0.3s;
            }
    
            .lines span::before {
                -webkit-transition-property: top, -webkit-transform;
                transition-property: top, transform;
            }
    
            .lines span::after {
                -webkit-transition-property: bottom, -webkit-transform;
                transition-property: bottom, transform;
            }
    
            .lines.close {
                background: none;
            }
    
            .lines.close span {
                visibility: hidden;
            }
    
            .lines.close span::before {
                top: 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                visibility: visible;
            }
    
            .lines.close span::after {
                bottom: 0;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                visibility: visible;
            }
        } // menu-bar-btn 
    } // nav

    nav.foot {
        ul {
            margin-top: -135px;
        }
    }
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 1220px) {
    body {
        background-color: #ECE6E6;
        background-image: url("../assets/images/bg-body.jpg");
        background-size: 100%;
        padding-left: 15%;
        padding-right: 5%;
    }
    header, footer {
        #logo {
            display: inline-block;
            // border: 1px solid purple;
            width: 20% !important;
        }
    
        nav {
            display: inline-block;
            width: 79% !important;
            // border:  1px solid blue;
            ul.menu-bar, ul.menu-bar-foot
            {
                width: 26% !important;
                display: inherit !important;

                li {
                    background-color: $header-bg-color !important;
                    display: inline-block;
                    padding: 2px 2px 0 2px !important;
                    margin: 0 !important;
    
                    a {
                        color: #C0C0C0 !important;
                    }
                }

                li.ab {
                    border-right: 1px solid #C0C0C0 !important;
                }
            } //ul
    
            .menu-bar-btn,  .menu-bar-btn-foot{
                display: none;
            } // menu-bar-btn
        }

        nav.foot {
            ul {
                margin-top: 0 !important;
            }
        }
    }
}
