extends common/layout

block main-content

	section.forgotpass-block
		.forgotpass-container
			h2 Forgot password
			hr
			form.forgotpass-form(action='/forgot-password', method='post')
				fieldset
					.input-group
						.label-holder
							label(for='forgot-pass-email') E-mail:
						input#forgot-pass-email.form-control(type='email', size='60', name='email')
					br
					input.btn.btn-success(type='submit', value='Send')
			hr
			.log-bottom
				br
				span.new
					| Don't have an account? 
					a.btn.btn-primary(href='/sign-up')
						h5 Sign up
